numpy
pandas
matplotlib
scikit-learn
scipy
pillow
opencv-python
tqdm
rich
PyYAML
joblib
torch
torchvision
torchaudio
timm
segmentation-models-pytorch
torchmetrics
albumentations
grad-cam
einops
monai
fastapi
uvicorn[standard]
python-multipart
pydantic
